<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQL_Tur_Retur.Properties.Settings.Din_morConnectionString"
            connectionString="Data Source=WIN-0P5QJLRVGFJ;Initial Catalog=Din_mor;Persist Security Info=True;User ID=Admin;Password=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>